[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=dr-donut
Exec=dr-donut
Name=Doctor Donut
# translation example:
Name[fr]=Doctor Donut

