[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=DoctorDonut_terminator
Exec=dr-donut
Name=dr-donut
# translation example:
Name[fr]=dr-donut

