[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=dr-donut
Exec=dr-donut
Name=dr-donut
# translation example:
# your app name in German locale (de)
Name[de]=dr-donut

